@import url('https://fonts.googleapis.com/css?family=Neucha&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap&subset=cyrillic');
.navbar-header {

    height: 90px;


}
body {
    background-image: url(../img/background.gif);
    background-color: #e8dfc3;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    height: 100%;


}

.wrapper {

    /* min-height: calc(100vh - 58px); */
    /* margin-bottom:20px */
}
.logo {
    height:80px;
    margin-top: 5px;
    margin-right: 10px;
    flex-direction: row;
    border-radius: 100%;
}

.content{
    font-family: sans-serif;
    color: #333333;
}
.header-content{
    display: flex;
    justify-content: center;
}

.shadow-logo {
    box-shadow: 2px 2px 2px #7d7d7d;
}

.pape {
    font-size: 3.7em;
    display: flex;
    flex-direction: row;
        /* font-family: 'Neucha', cursive; */
        font-family: cursive;
        color: #dc5b21;
        text-shadow: 2px 2px 2px #7d7d7d;
        /* text-shadow: 2px 2px 2px #b4ab90; */

}
.old{
    margin-top: 10px;
}
.new{
    margin-top: -40px;
    margin-left: 50px;
    margin-right: 10px;

}
.old-new{
    color: #dc5b21;
    text-shadow: 1px 1px 1px #7d7d7d;
    font-weight: 700;
    /* font-family: 'Neucha', cursive; */
    font-family: cursive;
    font-size: 1.5em;

}

.navigation {
    float: none;
    /* text-align: center !important; */
}


.footer {
    background: #57382d;



    /* margin-top: 50px; */
    color: #b1b0b0;
    padding: 5px;
}

/* картинки в геленеи */
.thumb img {
    border-radius: 7px;
    /* box-shadow: 4px 4px 3px #939393; */
    box-shadow: 4px 4px 3px #b4ab90;

}


/* меню */
.active-btn,.active-btn > a > span {
    color: #FD5025;
    border-bottom: 1px solid #FD5025;
    background-color: #442d25 !important;


}



}
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Ace Responsive Menu
----------------------------------------*/
a {
    text-shadow: none;
    color: #0d638f;
}
ul {
    margin: 0px;
    padding: 0px;
    width:100%;
    display:inline-block;
    text-align:center;
}
.ace-responsive-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    /* //кофейный  */
    /* background: #664337; */
    background: #664337;
    /* background: #664338; */
    /* градиент */
    background: #915B49;
    background: -webkit-radial-gradient(top, #915B49, #4D3228);
    background: -moz-radial-gradient(top, #915B49, #4D3228);
    background: radial-gradient(to bottom, #915B49, #4D3228);

    float:left;
    width:100%;
    font-family: cursive;

    border-bottom: 3px solid #FD5025;
}
.first-nav-btn {
    margin-left: 22%   !important;
}

.ace-responsive-menu li{
    list-style: none;
}
.ace-responsive-menu li ul {
    display:none;
}
.ace-responsive-menu > li {
    /* display: block; */

    margin: 0;
    padding: 0;
    border: 0px;
    float: left;
}
.ace-responsive-menu li a {
        color:#d9d9d9;
}
.ace-responsive-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 18px 20px 18px 12px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #d9d9d9;
    transition: 0.2s linear;
}
.ace-responsive-menu li a i {
    padding-right: 5px;
    color: #FF5737;
}
.ace-responsive-menu > li > a i {
    font-size: 16px;
    text-shadow: none;
    color: #FF5737;
}
.ace-responsive-menu li ul.sub-menu li a i {
    padding-right: 10px;
}
.ace-responsive-menu li.menu-active > a {
    background: #442d25 !important;
    color:#fff;
}
.ace-responsive-menu li .menu-active {
    position: relative;
}
.ace-responsive-menu > li > a > .arrow:before {
    margin-left: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
    width: 10px;
    display: inline-block;
}
.ace-responsive-menu li ul.sub-menu li > a > .arrow:before {
    content: "\f105" !important;
}
.ace-responsive-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
    margin: 0;
    position: absolute;
}
.ace-responsive-menu li ul.sub-menu {
    background: #664337;
}
.ace-responsive-menu li ul.sub-menu > li {
    width: 185px;
}
.ace-responsive-menu li ul.sub-menu li a {
    display: block;
    margin: 0px 0px;
    padding: 12px 20px 12px 15px;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    background: none;
}
.ace-responsive-menu > li > ul.sub-menu > li {
    position: relative;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    left: 185px;
    top: 0px;
    display: none;
    list-style: none;
}
.ace-responsive-menu > li > ul.sub-menu li > a > .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 0px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
}

/* Menu Toggle Btn
----------------------------------------*/
.menu-toggle {
    display: none;
    float: left;
    width: 100%;
    background: #664337;

}
.menu-toggle h3 {
    float: left;
    color: #FFF;
    padding: 0px 10px;
    font-weight: 600;
    font-size: 16px;
}
.menu-toggle .icon-bar {
    display: block !important;
    width: 18px;
    height: 2px;
    /* background-color: #F5F5F5 !important; */
    background-color: #F5F5F5 !important;

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    margin: 3px;
}
.menu-toggle .icon-bar:hover {
    background-color: #F5F5F5 !important;
}
.menu-toggle #menu-btn {
    float: right;
    background: #442d25;
    border: 1px solid #0C0C0C;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
.hide-menu {
    display: none;
}
.list li{
    margin: 10px 0px 10px 30px;
    text-align: left;

}


/* Accordion Menu Styles
----------------------------------------*/

ul[data-menu-style="accordion"] {
    width: 250px;
}
ul[data-menu-style="accordion"] > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
    float: none !important;
}
ul[data-menu-style="accordion"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="accordion"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="accordion"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="accordion"] li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: static;
}
ul[data-menu-style="accordion"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="accordion"] li a:hover {
    background: #442d25 !important;
}
ul[data-menu-style="accordion"] ul.sub-menu li.menu-active > a > .arrow:before {
    content: "\f107" !important;
}

/* Vertical Menu Styles
----------------------------------------*/

ul[data-menu-style="vertical"] {
    width: 200px;
}
ul[data-menu-style="vertical"] > li {
    float: none;
}
ul[data-menu-style="vertical"] > li:first-child {
    border-top: 2px solid #FD5025;
}
ul[data-menu-style="vertical"] li ul.sub-menu > li {
    width: 100%;
}
ul[data-menu-style="vertical"] > li > a > .arrow:before {
    float: right;
    content: "\f105";
}
ul[data-menu-style="vertical"] > li.menu-active {
position:relative;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu {
    position: absolute;
    left:200px;
    top:0px;
    width:200px;
}
ul[data-menu-style="vertical"] > li > a i {
    padding-right: 10px;
    color: #FF5737;
}
ul[data-menu-style="vertical"]> li > ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
    position: absolute;
    width:200px;
    left: 200px;
}
ul[data-menu-style="vertical"] > li {
    border-bottom: 1px solid #242424;
}
ul[data-menu-style="vertical"] li a:hover {
    background: #442d25 !important;
}

.content {
    margin: 30px 22%;
    flex: 1 0 auto;

}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Responsive Menu Styles
----------------------------------------*/
/*Note: change the max-width asper your requirment and change the same in aceResponsiveMenu({resizeWidth: "768" }) function*/
@media screen and (max-width: 1260px) {
.first-nav-btn {
    margin-left: 15% !important;    }
.content {
    margin: 30px 15%;     }
}

@media screen and (max-width: 1100px) {
.first-nav-btn {
    margin-left: 5% !important;    }
.content {
    margin: 30px 5%;     }
}

@media screen and (max-width: 760px) {
.old-new { display: none;}
}
@media screen and (max-width: 443px) {
.cert {width: 310px;}
/* <img src="photos/pm6.jpg" width=443 class="rounded "> */
}
/* @media screen and (max-width: 560px) { */
@media screen and (max-width: 768px) {
.pape {     font-size: 2em;}
.old-new { display: none;}
.logo {
    height:40px;
}
.navbar-header {
    height: auto;
}
@media screen and (max-width: 400px) {
.pape {     font-size: 1.8em;}
}
@media screen and (max-width: 924px) {
/* .ace-responsive-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 18px 9px 9px 22px !important;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #c0c0c0;
    transition: 0.2s linear;
} */

@media screen and (max-width: 975px) {
.first-nav-btn {
    margin-left: 0 !important;    }
}

@media screen and (max-width: 768px) {

    .demo {
		width:96%;
		padding:2%;
    }
    ul[data-menu-style="vertical"] , ul[data-menu-style="accordion"],
    ul[data-menu-style="vertical"] li ul.sub-menu {
        width: 100% !important;
    }
    .ace-responsive-menu {
        float: left;
        width:100%;
    }
    .ace-responsive-menu > li {
        border-bottom: 1px solid #242424;
       float: none;
    }
    .ace-responsive-menu li a:hover {
        background: #442d25 !important;
        /* background: #442d25 !important; */
    }
    .ace-responsive-menu > li:first-child {
        border-top: 2px solid #FD5025;
    }
    .ace-responsive-menu > li > a i {
        padding-right: 10px;
        color: #FF5737;
    }
    .ace-responsive-menu > li > a > .arrow:before {
        float: right;
        content: "\f105";
    }
    li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
    .ace-responsive-menu li ul.sub-menu > li {
        width: 100%;
    }
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li a
        {
        padding-left: 30px;
    }
    .ace-responsive-menu li ul.sub-menu li ul.sub-menu li ul.sub-menu li a
       {
        padding-left: 50px;
    }
    .ace-responsive-menu > li > ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu > li > ul.sub-menu > li ul.sub-menu > li ul.sub-menu {
        position: static;
    }
    .ace-responsive-menu li ul.sub-menu li.menu-active > a > .arrow:before {
        content: "\f107" !important;
    }
}
